/*@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Oswald');*/

html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.app {
  background-color: #778beb;
  /*background-color: white;*/
  width: 100%;
  height: 100%;
}

.head-triangle path {
  fill: #546de5;
}

.name {
  font-size: 2rem;
  color: white;
}

.title {
  font-size: 1.2rem;
  color: white;
}

.title:before, .title:after {
  content: '―';
}

.bio p {
  font-size: 1.5rem;
}

.padding {
  padding: 2rem;
}

.center {
  text-align: center;
}

.avatar {
  margin-top: 7rem;
  border-radius: 100%;
}

.portfolio {
  background-color: #e77f67;
  color: white;
}

.bottom-triangle {
  fill: #e77f67;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.project {
  width: 200px;
  height: 200px;
  color: white;
  font-size: 1.5rem;
  background-color: #e15f41;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;

  /*Start out of viewport*/
  transform: translateY(-100vh);
  animation: 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 fall;
  animation-fill-mode: forwards;
}
.project:nth-of-type(2) {
  animation-delay: 0.5s;
}
.project:nth-of-type(3) {
  animation-delay: 1s;
}

.project .summary {
  display: none;
}

.projects {
  display: flex;
}
