@import url('https://fonts.googleapis.com/css?family=Bangers|Indie+Flower|Raleway');

// Palette
$color1: #7ed6df;
$color2: #22a6b3;
$color3: white;
$color5: black;

// $color1: #5a6d19;
// $color2: #c29832;
// $color3: #ffffff;
// $color4: #e15f41;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: $color3;
}

.app {
  background-color: $color2;
  width: 100%;
  height: 100%;
}

.mid {
  background-color: $color2;
}

.head-triangle path {
  fill: $color1;
}

.title, .bio p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.name, h1 {
  font-family: 'Bangers', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-top: -1rem;
}

.name {
  color: $color3;
}

.title {
  color: $color3;
}

.title:before, .title:after {
  content: '―';
}

.padding {
  padding: 2rem;
}

.center {
  text-align: center;
}

.avatar {
  margin-top: 7rem;
  border-radius: 100%;
  width: 300px;
}

.portfolio {
  background-color: $color1;
  color: $color5;
}

.bottom-triangle {
  fill: $color1;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.project {
  width: 300px;
  height: 300px;
  color: $color3;
  font-size: 1.5rem;
  
  background-size: cover !important;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
  margin-bottom: 1rem;

  /*Start out of viewport*/
  transform: translateY(-300vh);
}

a.project {
  text-decoration: none;
}

.project .name {
  font-size: 3rem;
  color: black;
}

.project.active {
  animation: 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 fall;
  animation-fill-mode: forwards;  
}

.project:nth-of-type(2) {
  animation-delay: 0.25s;
}
.project:nth-of-type(3) {
  animation-delay: 0.5s;
}
.project:nth-of-type(4) {
  animation-delay: 0.75s;
}
.project:nth-of-type(5) {
  animation-delay: 1s;
}
.project:nth-of-type(6) {
  animation-delay: 1.25s;
}

.project img {
  max-width: 90%;
}

.project .summary {
  font-family: 'Bangers', sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  position: absolute;
  background-color: $color3;
  color: black;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  transform: rotateX(90deg);
  transition-duration: 0.5s;
}

.project:hover .summary {
  transform: rotateX(0deg);
  transition-duration: 0.5s;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  padding-bottom: 1rem;
}

.contact {
  padding-bottom: 5rem;
  background-color: $color2;
}

.contact h1 {
  margin: 0;
  text-align: center;
}

.work-map {
  width: 100%;
  background-color: $color2;
  display: block;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.footer {
  background-color: $color1;
  color: $color5;
  padding: 3rem;
  text-align: center;
}

.links {
  display: flex;
}

.links a {
  flex: 1;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  text-decoration: none;
  color: $color3;
}

.links a:hover {
  color: $color1;
  transition: all 0.5s;
}

@media only screen and (max-width: 600px) {
  html, body, #root {
    font-size: 14px;
  }
  .head-triangle {
    height: 50px;
  }
  .h1, .name {
    margin-top: 0;
  }
  .project {
    /*Figure this out later. Use a different animation.*/
    /*display: none;*/
    background-color: none;
    display: block;
    min-height: 100px;
  }
  .project img {
    display: block;

  }
  .project .summary {
    position: static;
    transform: none;
    background-color: none;
  }
}

.battle-bots {
  font-family: 'Indie Flower', cursive;
}