/*@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Oswald');*/

html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.app {
  background-color: #778beb;
  width: 100%;
  height: 100%;
}

.head-triangle path {
  fill: #546de5;
}

.name {
  font-size: 2rem;
  color: white;
}

.title {
  font-size: 1.2rem;
  color: white;
}

.title:before, .title:after {
  content: '―';
}

.bio p {
  font-size: 1.5rem;
}

.padding {
  padding: 2rem;
}

.center {
  text-align: center;
}

.avatar {
  margin-top: 7rem;
  border-radius: 100%;
}

.portfolio {
  background-color: #e77f67;
  color: white;
}

.bottom-triangle {
  fill: #e77f67;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.project {
  width: 300px;
  height: 300px;
  color: white;
  font-size: 1.5rem;
  background-color: #e15f41;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
  margin-bottom: 1rem;

  /*Start out of viewport*/
  transform: translateY(-130vh);
}

.project.active {
  animation: 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 fall;
  animation-fill-mode: forwards;  
}

.project:nth-of-type(2) {
  animation-delay: 0.25s;
}
.project:nth-of-type(3) {
  animation-delay: 0.5s;
}
.project:nth-of-type(4) {
  animation-delay: 0.75s;
}
.project:nth-of-type(5) {
  animation-delay: 1s;
}
.project:nth-of-type(6) {
  animation-delay: 1.25s;
}

.project .summary {
  display: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  padding-bottom: 1rem;
}

.contact {
  margin-bottom: 5rem;
}

.contact h1 {
  text-align: center;
  color: black;
}

.work-map {
  width: 100%;
  opacity: 0.8;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.footer {
  background-color: #596275;
  color: white;
  padding: 3rem;
  text-align: center;
}

.links {
  display: flex;
}

.links a {
  flex: 1;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: #546de5;
  transition: all 0.5s;
}