@import url('https://fonts.googleapis.com/css?family=Bangers|Indie+Flower|Raleway');

// Palette
$color1: #7ed6df;
$color2: #22a6b3;
$color3: white;
$color5: black;
$color6: #eb4d4b;

// $color1: #5a6d19;
// $color2: #c29832;
// $color3: #ffffff;
// $color4: #e15f41;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: $color3;
}

.app {
  background-color: $color2;
  width: 100%;
  height: 100%;
}

.mid {
  background-color: $color2;
}

.head-triangle path {
  fill: $color1;
}

.title, .bio p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.name, h1 {
  font-family: 'Bangers', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.name {
  color: $color3;
}

.title {
  color: $color3;
}

.title:before, .title:after {
  content: '―';
}

.padding {
  padding: 2rem;
}

.center {
  text-align: center;
}

.avatar {
  margin-top: 7rem;
  border-radius: 100%;
  width: 300px;
}

.portfolio {
  background-color: $color1;
  color: $color5;
}

.bottom-triangle {
  fill: $color1;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.projects {
  display: flex;
}

.project {
  width: 300px;
  height: 300px;
  border-radius: 300px;

  color: $color3;
  font-size: 1.5rem;
  position: relative;

  background-size: cover !important;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
  margin-bottom: 1rem;

  transition-duration: 1.5s;

  overflow: hidden;
}

.project:hover {
  transition-duration: 0.2s;
  transform: translateY(-10px);
}

.project.off {
  transform: scale(0);
  flex: 0 0;
}

.project.on {
  border-radius: 10px;
}

.project .name {
  font-size: 3rem;
  color: black;
}

.project img {
  max-width: 90%;
}

.project .summary {
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 0;

  background-color: $color6;
  color: white;
  a {
    display: block;
    color: white;
  }
  font-size: 1.2rem;

  transition-delay: 0s;
  transition-duration: 0.5s;

  .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
}

.project.on .summary {
  height: 100px;
  // Must be the same as project transition duration
  transition-delay: 1.5s;
}

h1 {
  padding-bottom: 1rem;
}

.contact {
  padding-bottom: 5rem;
  background-color: $color2;
}

.contact h1 {
  margin: 0;
  padding-top: 1rem;
  text-align: center;
}

.work-map {
  width: 100%;
  background-color: $color2;
  display: block;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.footer {
  background-color: $color1;
  color: $color5;
  padding: 2rem;
  text-align: center;
}

.links {
  display: flex;
}

.links a {
  flex: 1;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  text-decoration: none;
  color: $color3;
}

.links a:hover {
  transform: translateY(-5px);
  transition: all 0.5s;
}

@media only screen and (max-width: 800px) {
  html, body, #root {
    font-size: 14px;
  }
  .head-triangle {
    height: 50px;
  }
  .h1, .name {
    margin-top: 0;
  }
  .portfolio h1 {
    padding-bottom: 0rem;
  }
  .projects {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .project {
    flex: none;
    width: calc(50% - 2rem);
    margin: 1rem;
    height: 100px;
    border-radius: 100px;
    &:hover {
      transform: none;
    }
  }
  .project.off {
    transition-duration: 1s;
    flex: none;
    height: 0;
  }
  .project.on {
    margin: 0;
    width: 100%;
    height: 400px;
    transition-duration: 1s;
  }
  .project.on .summary {
    height: 120px;
    font-size: 1rem;
    transition-delay: 1s;
  }
  .project img {
    display: block;
  }
  .avatar {
    margin: 0;
  }
}

.battle-bots {
  font-family: 'Indie Flower', cursive;
}

.head-triangle, .bottom-triangle {
  display: none;
}